@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Global link hover */
.hover-link {
  transition: color 0.3s ease;
}

.hover-link:hover {
  color: #e91e63;
}

/* Dropdown links */
.dropdown-link {
  display: block;
  padding: 10px 16px;
  font-size: 14px;
  transition: background 0.3s;
}

.dropdown-link:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* index.css */
.input {
  @apply border px-3 py-2 rounded w-full;
}
